.order-card {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.order-card__inner {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.order-card__sale{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  color: #fff;
  background-color: #475009;
  padding: 2px 7px;
  border-radius: 5px;
}

.order-card__price {
  margin: 0 0 0 auto;
}

.order-card__price-old {
  position: relative;
  color: rgba(71, 80, 9, 0.3);
  
}

.order-card__price-old::before{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background-color: #475009;
}